# dependencies
node_modules/

# backend & frontend dependencies
client/node_modules/
server/node_modules/

# build files
client/build/
server/dist/

# env files
.env

# logs
npm-debug.log
yarn-debug.log

# OS files
.DS_Store